copy-button {
    display: inline;
    background: none;
    border-radius: 4px;
    border: 1px solid;
    padding: 0.3rem 0.1rem;

    & .copy-wrapper {
        fill: var(--copy-color, black);
    }

    & button {
        border: none;
        background-color: transparent;
        position: relative;
        top: 2px;
    }

    & .success-svg {
        fill: var(--success-color, black);
    }
}
