/* copy-button {
    outline: 1px solid black;
} */

.copy-button {
    display: inline;
    background-color: transparent;
    border: none;
    background: none;
    width: 1rem;
    margin-top: 1rem;
    color: var(--font-color);

    & .success-svg-wrapper, .copy-svg-wrapper {
        border-radius: 5px;
        outline: 1px solid var(--success-color, black);
        padding: 1px 2px;
    }

    & .copy-svg-wrapper {
        outline-color: transparent;
    }

    & svg {
        position: relative;
        top: 1px;
    }

    & .success-svg-wrapper {
        display: none;

        & .success-svg {
            fill: var(--success-color, black);
        }
    }

    &.success {
        & .success-svg-wrapper {
            display: inline;
            outline-color: transparent;
        }
        & .copy-svg-wrapper {
            display: none;
        }
    }
}
