:root {
    --copy-button-success: green;
}

copy-button {
    width: 1rem;
    height: 1rem;
    background: none;
    padding: 0.3rem 0.1rem;
    color: black;

    & .copy-wrapper {
        fill: var(--copy-button, black);
        width: 100%;
        height: 100%;
        display: inline-block;
    }

    & button {
        border: none;
        background-color: transparent;
        position: relative;
        top: 2px;
    }

    & .success-svg {
        fill: var(--copy-button-success, black);
    }
}
